doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Page Not Found - MKJ Electronics
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      h1 MKJ Electronics
      nav
        a(href="/") Home
        a(href="/shop") Shop
        a(href="/profile") Profile
        a(href="/cart") Cart
        a(href="/about") About
        a(href="/faq") FAQ
        a(href="/login") Login

    main
      section.error-page
        h2 404 - Page Not Found
        p Sorry, the page you are looking for does not exist.
        a(href="/") Return Home

    footer
      .footer-links
        a(href="/about") About Us
        a(href="/faq") FAQ
        a(href="/contact") Contact
      p &copy; 2025 MKJ Electronics | All Rights Reserved
