doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Register - MKJ Electronics
    link(rel="stylesheet", href="../css/style.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap", rel="stylesheet")
  body
    header
      h1 MKJ Electronics
      nav
        a(href="/") Home
        a(href="/shop") Shop
        a(href="/profile") Profile
        a(href="/cart") Cart
        a(href="/about") About
        a(href="/faq") FAQ
        if !username
          a(href="/login") Login

    main
      h1 Register

      // Display error message if it exists
      if error
        p(style="color: red;") #{error}

      form(method="POST", action="/auth/register")
        label(for="username") Username:
        input(type="text", name="username", required)
        br

        label(for="password") Password:
        input(type="password", name="password", required)
        br

        label(for="confirm_password") Confirm Password:
        input(type="password", name="confirm_password", required)
        br

        label(for="real_name") Real Name (optional):
        input(type="text", name="real_name")
        br

        button(type="submit") Register
        
.homepage
  footer
    .footer-links
      a(href="/about") About
      a(href="/faq") FAQ
    p &copy; 2025 MKJ Electronics. All rights reserved.
