doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Shop - MKJ Electronics
    link(rel="stylesheet", href="../css/style.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap", rel="stylesheet")
  body
    header
      h1 Shop
      nav
        a(href="/") Home
        a(href="/shop") Shop
        a(href="/profile") Profile
        a(href="/cart") Cart
        a(href="/about") About
        a(href="/faq") FAQ
        if !username
          a(href="/login") Login

    form(action="/search", method="GET", class="search-form")
      input(type="text", name="q", placeholder="Search for products...", value=searchQuery || '')
      button(type="submit") Search
      
    main.shop
      h2 Our Products
      p Check out our wide range of electronics. More Coming Soon!
    
      .product-grid
        each product in products
          .product-card
            img(src="/images/" + product.image, alt=product.title)
            h4= product.title
            p Price: $#{product.price}
            a.product-link(href="/product/" + product.slug) View Product

.homepage
  footer
    .footer-links
      a(href="/about") About
      a(href="/faq") FAQ
      a(href="/contact") Contact
    p &copy; 2025 MKJ Electronics. All rights reserved.
